<div><img src="/images/jordimartinez.jpeg" alt="Picture of the author" height="60" width="50"></img></div>
<div><h4>Jordi Martínez</h4></div>
<div>
    A software engineer from Barcelona.<BR>
    You can find more information about me at <a target='blank' href='https://es.linkedin.com/in/jordimartinez'>LinkedIn</a>
</div>

